name: Publish
on:
  push:
    tags:
      - "v*"

permissions:
  contents: read # for checkout

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache cargo registry
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-clippy-${{ hashFiles('**/Cargo.lock') }}

      - name: Login to cargo
        run: cargo login <<< $CARGO_API_TOKEN
        env:
          CARGO_API_TOKEN: ${{ secrets.CARGO_API_TOKEN }}

      - name: Publish to crates
        run: cargo publish
        env:
          CARGO_API_TOKEN: ${{ secrets.CARGO_API_TOKEN }}
